.addAssemblyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 22px;

  .formWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 22px;

    .input {
      width: 300px;
    }

    .buttonsContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 22px;
    }
  }
}
