.mainWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;

  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    align-items: center;
    justify-content: center;

    .plusButton {
      width: fit-content;
      padding: 0 10px;
    }
  }
}

.reprimandsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  gap: 8px;
  row-gap: 8px;

  .reprimand {
    width: 100%;
  }

  .buttonsWrapper {
    display: flex;
    gap: 22px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
  }
}
