.footerContainer {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 10px 2rem;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  text-wrap: balance;
}
