.mainWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;

  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    align-items: center;
    justify-content: center;

    .plusButton {
      width: fit-content;
      padding: 0 10px;
    }
  }
}

.assembliesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 8px;
  row-gap: 8px;
  margin-bottom: 150px;

  .assemblyWrapper,
  .assemblyButton {
    width: 100%;
  }
}
